.berriak{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 30px;
}

.notizia-handia{
    background-color: var(--light-color);
    border: 1px solid rgba(0, 255, 136, 0.1);
    border-radius: var(--border-radius);
    padding: 25px; 
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5); 
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    
    display: flex;           
    align-items: flex-start;
    gap: 30px;
    justify-content: space-between; 
}

.notizia-txikiak{
    background-color: var(--light-color);
    border: 1px solid rgba(0, 255, 136, 0.1);
    border-radius: var(--border-radius);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4); 
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    
    display: flex;
    flex-direction: column;
    gap: 25px; 
}

.item{
    display: flex;
    gap: 15px;
    border-bottom: 1px dashed rgba(255, 255, 255, 0.2);
    padding-bottom: 15px;
}

.item:last-child {
    border-bottom: none; 
    padding-bottom: 0;
}

.img2, .img3{
justify-content: center;
text-align: center;
background-color: rgba(0, 0, 0, 0.2);
border-radius: 8px;
padding: 5px;
}

.info h3{
    margin: 0 0 6px;
    font-size: 20px;
    color: var(--text-color);
}


.fecha{
    font-size: 14px; 
    color: var(--secondary-color);
    display: block;
    margin-top: 5px;
    font-weight: bold;
}

.berria1 img {
    width: 350px;            
    height: 450px;
    object-fit: cover;
    border-radius: 8px;
}

.info1 {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    height: 450px;
    font-size: 20px;
    text-align: left;
}

.info1 h2 {
    color: var(--secondary-color);
    margin-bottom: 15px;
    text-shadow: 0 0 5px rgba(0, 255, 136, 0.5);
}