:root {
    /* Koloreak Dark Moderako eta zure eskakizunetarako egokitu dira */
    --primary-color: #b9b9b9; /* Goiburua/Orri-oina (Gris argiagoa) */
    --secondary-color: #0fa541; /* Berde distiratsua (Akzentua/Botoiak) */
    --text-color: #ffffff; /* Testuaren kolorea argia */
    --light-color: #414141; /* Elementu argien atzealdea (Gris iluna) */
    --bg-color: #212121; /* Orriaren atzealde nagusia iluna */
}

/* Goiburua eta Nabigazioa */
h1 {
margin-bottom: 100px;
}

.Titulua{
    text-align: center;
    
}
.container {
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
gap: 60px;
justify-items: center;
align-items: center;
}

.ronda {
display: flex;
flex-direction: column;
gap: 20px;
}

.partido {
background: rgb(27, 26, 26);
border: 1px solid #ccc;
border-radius: 6px;
padding: 10px;
width: 180px;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.partido .fecha {
text-align: center;
font-size: 20px;
color: gray;
margin-bottom: 5px;
}

.fechafinal{
text-align: center;
font-size: 20px;
color: rgb(148, 51, 51);
margin-bottom: 2px;
}

.equipo{
display: flex;
justify-content: space-between;
font-size: 25px;
margin: 3px 0;
color: #ffffff;
border-radius: 6px;
}


.equipoganador{
display: flex;
justify-content: space-between;
font-size: 25px;
margin: 3px 0;
color: #ffffff;
}
.equipoganador:hover{ 
transition: box-shadow 0.15s ease;
 box-shadow: 0 0 15px 1px #53c710;
}

.equipoperdedor{
display: flex;
justify-content: space-between;
font-size: 25px;
margin: 3px 0;
color: #ffffff;
}

.equipoperdedor:hover { 
transition: box-shadow 0.15s ease;
 box-shadow: 0 0 15px 1px #c71010;
}

.partida-final {
background: #796666;
border: 3px solid #999;
width: 300px;
height: 170px;
border-radius: 6px;
}

/* cajita texto */
.equipoganador1{
    border:2px solid rgba(52, 163, 32, 0.6);
    padding:5px 15px;
    font-size:25px;
    font-weight:70;
    white-space:nowrap;
    text-align:center;
    border-radius: 6px;
}

.equipoganador2{
    border:2px solid rgba(52, 163, 32, 0.6);
    padding:5px 15px;
    font-size:25px;
    font-weight:700;
    white-space:nowrap;
    text-align:center;
    border-radius: 6px;
}

.imagen-final {
    text-align: center;
    margin: 20px auto;
}