.sarrera {
    display: grid;
    grid-template-columns: 1fr 1fr; /* 2 zutabeko diseinua */
    gap: 20px; /* Tarte handiagoa */
    padding: 20px 0; /* Padding nav-etik */
}

.div1, .videoa {
    padding: 20px;
    border-radius: var(--border-radius);
    background-color: var(--light-color);
    backdrop-filter: blur(5px); 
    -webkit-backdrop-filter: blur(5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(0, 255, 136, 0.1);
}

.div1 { 
    grid-column-start: 1;
    grid-row-start: 1;
}
    
.videoa {
    grid-column-start: 2;
    min-height: 300px; 
    display: flex;
    align-items: center;
    justify-content: center;
}

h2{ 
    color: var(--secondary-color);
    text-shadow: 0 0 5px rgba(0, 255, 136, 0.5);
}

/* Mugikorreko egokitzapena */
@media (max-width: 768px) {
    .sarrera {
        grid-template-columns: 1fr;
        padding: 10px;
    }
    .videoa {
        min-height: 200px;
    }
}